﻿@page "/contact"
@using VacationSchedule.Core.Models.DB
@inject HttpClient Http

<PageTitle>Контакты</PageTitle>

<h1>Контакты</h1>

@if (contacts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Контакт</th>
                <th>Тип</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cont in contacts)
            {
                <tr>
                    <td>@cont.Contact</td>
                    <td>@cont.TypeContact?.Name </td>
                    <td><button class="btn btn-primary" @onclick="@(e => DeleteContact(cont.Id))">Delete</button></td>
                </tr>
            }
            <tr>
                <td>
                    <input type="text" class="form-control" placeholder="Контакт" @bind="newContact.Contact" />
                </td>
                <td>
                    <select class="form-control selectpicker" @bind=@getType(newContact).Id>
                        <option value="-1">--select--</option>
                        @foreach (var item in contactTypes)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </td>
                <td>
                    <button class="btn btn-primary" @onclick="@(e => AddContact(newContact))">Add</button>
                </td>
            </tr>
        </tbody>
    </table>
}

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    private ContactType[] contactTypes;
    private UserContact[] contacts;
    private UserContact newContact;
    private User user;
    AuthenticationState state;

    protected override async Task OnInitializedAsync()
    {
        state = await authenticationStateTask;
        user = await Http.GetFromJsonAsync<User>($"api/User/GetByUserName?userName={state.User.Identity.Name}");
        contactTypes = await Http.GetFromJsonAsync<ContactType[]>($"api/ContactType");
        await RefreshContacts();
    }

    private async Task RefreshContacts()
    {
        contacts = await Http.GetFromJsonAsync<UserContact[]>($"api/Contact/GetContactsByUserId?id={user.Id}");
        newContact = NewContact();
    }

    private ContactType getType(UserContact contact)
    {
        if (contact.TypeContact is not null)
        {
            return contact.TypeContact;
        }
        return new ContactType { Id = -1 };
    }

    private async Task AddContact(UserContact contact)
    {
        contact.TypeContactId = contact.TypeContact.Id;
        contact.TypeContact = null;
        await Http.PostAsJsonAsync<UserContact>($"api/Contact", contact);
        await RefreshContacts();
    }

    private async Task DeleteContact(int id)
    {
        await Http.DeleteAsync($"api/Contact/{id}");
        await RefreshContacts();
    }

    private UserContact NewContact() => new() { UserId = user.Id, TypeContact = new ContactType { Id = -1 } };
}
